In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Title': ['Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5'],
    'Genre': ['Action', 'Comedy', 'Drama', 'Action', 'Thriller'],
    'Release Year': [1998, 2005, 2012, 2008, 2015],
    'Rating': [8.5, 7.2, 6.8, 9.0, 5.5],
    'Revenue (Millions)': [150, 80, 120, '', "NaN"],
    'Director': ['Director1', 'Director2', 'Director3', 'Director1', 'Director4']
}

movies_df = pd.DataFrame(data)

# Save the DataFrame to a CSV file for your exercise
movies_df.to_csv('csv/movies.csv', index=False)

In [3]:
df = pd.read_csv('csv/movies.csv')
print(df)

    Title     Genre  Release Year  Rating  Revenue (Millions)   Director
0  Movie1    Action          1998     8.5               150.0  Director1
1  Movie2    Comedy          2005     7.2                80.0  Director2
2  Movie3     Drama          2012     6.8               120.0  Director3
3  Movie4    Action          2008     9.0                 NaN  Director1
4  Movie5  Thriller          2015     5.5                 NaN  Director4

In [4]:

print(df.isnull())
print(df.fillna(1))
print(df.dropna())

   Title  Genre  Release Year  Rating  Revenue (Millions)  Director
0  False  False         False   False               False     False
1  False  False         False   False               False     False
2  False  False         False   False               False     False
3  False  False         False   False                True     False
4  False  False         False   False                True     False
    Title     Genre  Release Year  Rating  Revenue (Millions)   Director
0  Movie1    Action          1998     8.5               150.0  Director1
1  Movie2    Comedy          2005     7.2                80.0  Director2
2  Movie3     Drama          2012     6.8               120.0  Director3
3  Movie4    Action          2008     9.0                 1.0  Director1
4  Movie5  Thriller          2015     5.5                 1.0  Director4
    Title   Genre  Release Year  Rating  Revenue (Millions)   Director
0  Movie1  Action          1998     8.5               150.0  Director1
1  Movie2  Comedy          2005     7.2                80.0  Director2
2  Movie3   Drama          2012     6.8               120.0  Director3

In [5]:
print(df.head(2))

    Title   Genre  Release Year  Rating  Revenue (Millions)   Director
0  Movie1  Action          1998     8.5               150.0  Director1
1  Movie2  Comedy          2005     7.2                80.0  Director2

In [6]:
print(df["Revenue (Millions)"].sum())

350.0

In [7]:
df_greater_2000 = df[df['Release Year'] > 2000].copy()
print(df_greater_2000)

    Title     Genre  Release Year  Rating  Revenue (Millions)   Director
1  Movie2    Comedy          2005     7.2                80.0  Director2
2  Movie3     Drama          2012     6.8               120.0  Director3
3  Movie4    Action          2008     9.0                 NaN  Director1
4  Movie5  Thriller          2015     5.5                 NaN  Director4

In [8]:
avg_rating = df.groupby("Genre")['Rating'].mean()
print(avg_rating)

Genre
Action      8.75
Comedy      7.20
Drama       6.80
Thriller    5.50
Name: Rating, dtype: float64

In [9]:
top_3 = df.groupby("Director")['Revenue (Millions)'].mean()
print(type(top_3))
top_3_desc = top_3.sort_values(ascending = False).head(3)
print(top_3_desc.head(3))

<class 'pandas.core.series.Series'>
Director
Director1    150.0
Director3    120.0
Director2     80.0
Name: Revenue (Millions), dtype: float64