In [9]:
import pandas as pd
import os

In [10]:
data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Quantity': [10, 5, 8, 12, 6],
    'Price': [20.5, 15.0, 20.5, 10.0, 18.0],
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05']
}

df = pd.DataFrame(data)
print(df)

   TransactionID Product  Quantity  Price        Date
0              1       A        10   20.5  2024-01-01
1              2       B         5   15.0  2024-01-02
2              3       A         8   20.5  2024-01-03
3              4       C        12   10.0  2024-01-04
4              5       B         6   18.0  2024-01-05

In [11]:
df["Total sales"] = df["Quantity"]*df["Price"]
print(df)

   TransactionID Product  Quantity  Price        Date  Total sales
0              1       A        10   20.5  2024-01-01        205.0
1              2       B         5   15.0  2024-01-02         75.0
2              3       A         8   20.5  2024-01-03        164.0
3              4       C        12   10.0  2024-01-04        120.0
4              5       B         6   18.0  2024-01-05        108.0

In [12]:
filtered_df = df[df["Quantity"] > 5]
print(filtered_df)

   TransactionID Product  Quantity  Price        Date  Total sales
0              1       A        10   20.5  2024-01-01        205.0
2              3       A         8   20.5  2024-01-03        164.0
3              4       C        12   10.0  2024-01-04        120.0
4              5       B         6   18.0  2024-01-05        108.0

In [13]:
grouped_df = filtered_df.groupby("Product").agg({
    'Quantity': 'sum',
    'Total sales': 'sum'
}).reset_index()
print(grouped_df)

  Product  Quantity  Total sales
0       A        18        369.0
1       B         6        108.0
2       C        12        120.0

In [14]:
max_price = df.loc[df["Price"].idxmax()]
print(max_price)

TransactionID             1
Product                   A
Quantity                 10
Price                  20.5
Date             2024-01-01
Total sales           205.0
Name: 0, dtype: object

In [15]:
current_directory = os.getcwd()
df.to_csv(os.path.join(current_directory,"csv/exercise.csv"),index=False)

In [16]:
data = pd.read_csv(os.path.join(current_directory,"csv/exercise.csv"))
print(data)

   TransactionID Product  Quantity  Price        Date  Total sales
0              1       A        10   20.5  2024-01-01        205.0
1              2       B         5   15.0  2024-01-02         75.0
2              3       A         8   20.5  2024-01-03        164.0
3              4       C        12   10.0  2024-01-04        120.0
4              5       B         6   18.0  2024-01-05        108.0

In [17]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva','someone'],
    'Age': [25, 30, 22, 35, 28,30],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston','Boston'],
    'Salary': [60000, 80000, 55000, 90000, 70000,100000]
}

df = pd.DataFrame(data)

# Display the initial DataFrame
print("Initial DataFrame:")
print(df)

Initial DataFrame:
      Name  Age           City  Salary
0    Alice   25       New York   60000
1      Bob   30  San Francisco   80000
2  Charlie   22    Los Angeles   55000
3    David   35        Chicago   90000
4      Eva   28         Boston   70000
5  someone   30         Boston  100000

In [18]:
df_filtered = df[df['Age'] > 25]
print(df_filtered)

      Name  Age           City  Salary
1      Bob   30  San Francisco   80000
3    David   35        Chicago   90000
4      Eva   28         Boston   70000
5  someone   30         Boston  100000

In [19]:
df_sorted = df.sort_values(by='Salary',ascending=False)
print(df_sorted)

      Name  Age           City  Salary
5  someone   30         Boston  100000
3    David   35        Chicago   90000
1      Bob   30  San Francisco   80000
4      Eva   28         Boston   70000
0    Alice   25       New York   60000
2  Charlie   22    Los Angeles   55000

In [20]:
new_data = {
    'Name':"Yael",
    'Age':37,
    'City':"Chicago",
    'Salary':10000
}

# print(type(df))
# print(df)
# df = df.append(new_data,ignore_index= True)

df_grouped = df.groupby("City")['Salary'].mean()
df_grouped = df.groupby("City").mean("City")
print(df_grouped)

                Age   Salary
City
Boston         29.0  85000.0
Chicago        35.0  90000.0
Los Angeles    22.0  55000.0
New York       25.0  60000.0
San Francisco  30.0  80000.0

In [21]:
if hasattr(df, 'loc'):
    # Appending the new row to the original DataFrame

    print("\nDataFrame with the new row:")
    print(df)
else:
    print("\n'append' method not found in 'df'. Please check the type of 'df'.")

print(type(df))

DataFrame with the new row:
      Name  Age           City  Salary
0    Alice   25       New York   60000
1      Bob   30  San Francisco   80000
2  Charlie   22    Los Angeles   55000
3    David   35        Chicago   90000
4      Eva   28         Boston   70000
5  someone   30         Boston  100000
<class 'pandas.core.frame.DataFrame'>