In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[np.nan, 2, 3, np.nan, 5], 'B':[10, np.nan, np.nan, 40, 50], 'C':[100, np.nan, 300, 400, np.nan]})
print(df)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [3]:
copy_df_1 = df.copy()
copy_df_1.dropna(inplace=True)
print(copy_df_1)

Empty DataFrame
Columns: [A, B, C]
Index: []

In [4]:
copy_df_2 = df.copy()
copy_df_2.dropna(thresh=1,inplace=True)
print(copy_df_2)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [5]:
copy_df_3 = df.copy()
copy_df_3.dropna(subset = ['A','C'],inplace=True)
print(copy_df_3)

     A   B      C
2  3.0 NaN  300.0

In [6]:
copy_df_4 = df.copy()
copy_df_4.fillna(4,inplace=True)
print(copy_df_4)

     A     B      C
0  4.0  10.0  100.0
1  2.0   4.0    4.0
2  3.0   4.0  300.0
3  4.0  40.0  400.0
4  5.0  50.0    4.0

In [7]:
copy_df_5 = df.copy()
copy_df_5['B'] = copy_df_5['B'].fillna(round(copy_df_5['B'].mean(),2))
print(copy_df_5)

     A      B      C
0  NaN  10.00  100.0
1  2.0  33.33    NaN
2  3.0  33.33  300.0
3  NaN  40.00  400.0
4  5.0  50.00    NaN