In [7]:
import numpy as np
import pandas as pd

# Exercise 1

In [8]:
person = pd.DataFrame({
    "Name": ["David","Avi","Yael","Shachar","Elad"],
    "Age": [38,39,37,29,40],
    "Gender": ["Male","Male","Female","Male","Male"],
    "Occupation": ["AI developer","Laywer","Graphic designer","Salesmen","Writer"]
})
print(person)

      Name  Age  Gender        Occupation
0    David   38    Male      AI developer
1      Avi   39    Male            Laywer
2     Yael   37  Female  Graphic designer
3  Shachar   29    Male          Salesmen
4     Elad   40    Male            Writer

In [9]:
avg_age = person['Age'].mean()
print(avg_age)

36.6

In [10]:
salaries = [15000,20000,17000,12000,30000]
person["Salary"] = salaries
print(person)

      Name  Age  Gender        Occupation  Salary
0    David   38    Male      AI developer   15000
1      Avi   39    Male            Laywer   20000
2     Yael   37  Female  Graphic designer   17000
3  Shachar   29    Male          Salesmen   12000
4     Elad   40    Male            Writer   30000

In [11]:
person.drop('Occupation',axis=1,inplace=True)
print(person)

      Name  Age  Gender  Salary
0    David   38    Male   15000
1      Avi   39    Male   20000
2     Yael   37  Female   17000
3  Shachar   29    Male   12000
4     Elad   40    Male   30000

# Execise 2

In [12]:
tips_df = pd.read_csv("csv/tips.csv")
tips_df.set_index("Payment ID",inplace=True)
print(tips_df)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Sun5260          23.68  3.31    Male     No   Sun  Dinner     2
Sun2251          24.59  3.61  Female     No   Sun  Dinner     4
...                ...   ...     ...    ...   ...     ...   ...
Sat2657          29.03  5.92    Male     No   Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name         CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun4608                 3.45      Douglas Tucker  4478071379779230
Sun4458                 7.00      Travis Walters  6011812112971322
Sun5260                11.84    Nathaniel Harris  4676137647685994
Sun2251                 6.15        Tonya Carter  4832732618637221
...                      ...                 ...               ...
Sat2657                 9.68       Michael Avila  5296068606052842
Sat1766                13.59      Monica Sanders  3506806155565404
Sat3880                11.34          Keith Wong  6011891618747196
Sat17                   8.91        Dennis Dixon     4375220550950
Thur672                 9.39     Michelle Hardin  3511451626698139

[244 rows x 10 columns]

In [13]:
tips_df_short = tips_df.loc[['Sun4608','Sun4608','Sat17','Sun4458','Thur672']]
print(tips_df_short)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person       Payer Name         CC Number
Payment ID
Sun4608                 3.45   Douglas Tucker  4478071379779230
Sun4608                 3.45   Douglas Tucker  4478071379779230
Sat17                   8.91     Dennis Dixon     4375220550950
Sun4458                 7.00   Travis Walters  6011812112971322
Thur672                 9.39  Michelle Hardin  3511451626698139

In [14]:
tips_df["total_payment_per_person"] = tips_df["total_bill"] + tips_df['tip']
print(tips_df)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun4458          21.01  3.50    Male     No   Sun  Dinner     3
Sun5260          23.68  3.31    Male     No   Sun  Dinner     2
Sun2251          24.59  3.61  Female     No   Sun  Dinner     4
...                ...   ...     ...    ...   ...     ...   ...
Sat2657          29.03  5.92    Male     No   Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes   Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name         CC Number  \
Payment ID
Sun2959                 8.49  Christy Cunningham  3560325168603410
Sun4608                 3.45      Douglas Tucker  4478071379779230
Sun4458                 7.00      Travis Walters  6011812112971322
Sun5260                11.84    Nathaniel Harris  4676137647685994
Sun2251                 6.15        Tonya Carter  4832732618637221
...                      ...                 ...               ...
Sat2657                 9.68       Michael Avila  5296068606052842
Sat1766                13.59      Monica Sanders  3506806155565404
Sat3880                11.34          Keith Wong  6011891618747196
Sat17                   8.91        Dennis Dixon     4375220550950
Thur672                 9.39     Michelle Hardin  3511451626698139

            total_payment_per_person
Payment ID
Sun2959                        18.00
Sun4608                        12.00
Sun4458                        24.51
Sun5260                        26.99
Sun2251                        28.20
...                              ...
Sat2657                        34.95
Sat1766                        29.18
Sat3880                        24.67
Sat17                          19.57
Thur672                        21.78

[244 rows x 11 columns]

In [15]:
filtered_tips_df = tips_df.loc[(tips_df['sex'] == 'Female') & (tips_df['smoker'] == 'Yes') & (tips_df['tip'] > 3)]
print(filtered_tips_df)

            total_bill   tip     sex smoker   day    time  size  \
Payment ID
Sat1967          26.86  3.14  Female    Yes   Sat  Dinner     2
Sat6065          25.28  5.00  Female    Yes   Sat  Dinner     2
Fri6963          16.32  4.30  Female    Yes   Fri  Dinner     2
Sat1015          22.42  3.48  Female    Yes   Sat  Dinner     2
Sat2614          14.31  4.00  Female    Yes   Sat  Dinner     2
Sun4598           9.60  4.00  Female    Yes   Sun  Dinner     2
Sun4254          20.90  3.50  Female    Yes   Sun  Dinner     3
Sun430           18.15  3.50  Female    Yes   Sun  Dinner     3
Thur967          19.81  4.19  Female    Yes  Thur   Lunch     2
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Thur8084         16.47  3.23  Female    Yes  Thur   Lunch     3
Sat3374          28.17  6.50  Female    Yes   Sat  Dinner     3
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Fri7511          13.42  3.48  Female    Yes   Fri   Lunch     2

            price_per_person          Payer Name         CC Number  \
Payment ID
Sat1967                13.43  Victoria Obrien MD     4216245673726
Sat6065                12.64        Julie Holmes  5418689346409571
Fri6963                 8.16      Natalie Nguyen  5181236182893396
Sat1015                11.21    Kathleen Hawkins   348009865484721
Sat2614                 7.16     Amanda Anderson   375638820334211
Sun4598                 4.80        Melanie Gray     4211808859168
Sun4254                 6.97      Heidi Atkinson  4422858423131187
Sun430                  6.05      Glenda Wiggins      578329325307
Thur967                 9.90         Kristy Boyd  4317015327600068
Thur9313               10.78         Brooke Soto  5544902205760175
Thur8084                5.49         Carly Reyes     4787787236486
Sat3374                 9.39     Marissa Jackson  4922302538691962
Sat8863                 7.54        Shelby House      502097403252
Fri7511                 6.71      Leslie Kaufman   379437981958785

            total_payment_per_person
Payment ID
Sat1967                        30.00
Sat6065                        30.28
Fri6963                        20.62
Sat1015                        25.90
Sat2614                        18.31
Sun4598                        13.60
Sun4254                        24.40
Sun430                         21.65
Thur967                        24.00
Thur9313                       48.11
Thur8084                       19.70
Sat3374                        34.67
Sat8863                        33.23
Fri7511                        16.90

In [16]:
np.random.seed(100)

# Exercise 3

In [17]:
random_df = pd.DataFrame(np.random.randint(0,100,(4,6)))
print(random_df)

    0   1   2   3   4   5
0   8  24  67  87  79  48
1  10  94  52  98  53  66
2  98  14  34  24  15  60
3  58  16   9  93  86   2

In [18]:
cols = ['Africa','America','Asia','Europe','Australia','South America']
random_df.columns = cols

print(random_df)

   Africa  America  Asia  Europe  Australia  South America
0       8       24    67      87         79             48
1      10       94    52      98         53             66
2      98       14    34      24         15             60
3      58       16     9      93         86              2

In [19]:
sums = random_df.sum(axis=1)
if 'sum' not in random_df.columns:
    random_df['sum'] = sums.round(1)
print(random_df)

   Africa  America  Asia  Europe  Australia  South America  sum
0       8       24    67      87         79             48  313
1      10       94    52      98         53             66  373
2      98       14    34      24         15             60  245
3      58       16     9      93         86              2  264

In [20]:
random_df.loc['sum'] = random_df.sum(axis=0)
print(random_df)

     Africa  America  Asia  Europe  Australia  South America   sum
0         8       24    67      87         79             48   313
1        10       94    52      98         53             66   373
2        98       14    34      24         15             60   245
3        58       16     9      93         86              2   264
sum     174      148   162     302        233            176  1195

In [21]:
if 'sum' in random_df.index:
    random_df.drop('sum',axis=0,inplace=True)
if 'sum' in random_df.columns:
    random_df.drop('sum',axis=1,inplace=True)
random_df['min'] = random_df.min(axis=1)
random_df['max'] = random_df.max(axis=1)
print(random_df)

   Africa  America  Asia  Europe  Australia  South America  min  max
0       8       24    67      87         79             48    8   87
1      10       94    52      98         53             66   10   98
2      98       14    34      24         15             60   14   98
3      58       16     9      93         86              2    2   93

In [22]:
random_df.loc['min'] = random_df.min(axis=0)
random_df.loc['max'] = random_df.max(axis=0)
print(random_df)

     Africa  America  Asia  Europe  Australia  South America  min  max
0         8       24    67      87         79             48    8   87
1        10       94    52      98         53             66   10   98
2        98       14    34      24         15             60   14   98
3        58       16     9      93         86              2    2   93
min       8       14     9      24         15              2    2   87
max      98       94    67      98         86             66   14   98

In [23]:
random_df_copy = random_df.copy()

In [24]:
random_df_copy[random_df_copy % 2 == 0] = -1
print(random_df_copy)

     Africa  America  Asia  Europe  Australia  South America  min  max
0        -1       -1    67      87         79             -1   -1   87
1        -1       -1    -1      -1         53             -1   -1   -1
2        -1       -1    -1      -1         15             -1   -1   -1
3        -1       -1     9      93         -1             -1   -1   93
min      -1       -1     9      -1         15             -1   -1   87
max      -1       -1    67      -1         -1             -1   -1   -1

# Exercise 4

In [25]:
a = {"suzuki": 5,
      "honda": 10,
      "mustang": 20,
      "mercedes": 3,
      "nisan": 6
     }
b = {"ford": 10,
      "mitsubishi": 40,
      "honda": 4,
      "subaro": 12,
      "mercedes": 20
    }
c = {"subaro": 31,
      "honda": 15,
      "kia": 14,
      "porshe": 1,
      "nisan": 3
     }
dealerships = pd.DataFrame([{"A": a, "B": b, "C":c}])
print(dealerships)

                                                   A  \
0  {'suzuki': 5, 'honda': 10, 'mustang': 20, 'mer...

                                                   B  \
0  {'ford': 10, 'mitsubishi': 40, 'honda': 4, 'su...

                                                   C
0  {'subaro': 31, 'honda': 15, 'kia': 14, 'porshe...

In [26]:
def order_car(dealarships, order):
    order_summary = {}
    for car in order:
        available_in_stock = []
        car_ordered = False
        for dealership, cars in dealerships.items():
            inventory = cars.iloc[0]
            if car in inventory and inventory[car] > 0:
                if car_ordered == False:
                    cars.iloc[0][car] -= 1
                    car_ordered = True
                available_in_stock.append(dealership)
            if car_ordered:
                order_summary[car] = available_in_stock
            else:
                order_summary[car] = "None"
    return order_summary

In [27]:
order_sum = order_car(dealerships,["suzuki","honda","subaro","mercedes","lambourgini"])
print(order_sum)

{'suzuki': ['A'], 'honda': ['A', 'B', 'C'], 'subaro': ['B', 'C'], 'mercedes': ['A', 'B'], 'lambourgini': 'None'}