In [17]:
import numpy as np
import pandas as pd

In [18]:
tips_df = pd.read_csv('csv/tips.csv')

In [19]:
print(tips_df)

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID
0    Christy Cunningham  3560325168603410    Sun2959
1        Douglas Tucker  4478071379779230    Sun4608
2        Travis Walters  6011812112971322    Sun4458
3      Nathaniel Harris  4676137647685994    Sun5260
4          Tonya Carter  4832732618637221    Sun2251
..                  ...               ...        ...
239       Michael Avila  5296068606052842    Sat2657
240      Monica Sanders  3506806155565404    Sat1766
241          Keith Wong  6011891618747196    Sat3880
242        Dennis Dixon     4375220550950      Sat17
243     Michelle Hardin  3511451626698139    Thur672

[244 rows x 11 columns]

In [20]:
def last_four(cc):
    return int(str(cc)[-4:])
print(last_four(5296068606052842))

2842

In [21]:
tips_df['cc last 4 digits'] = tips_df['CC Number'].apply(last_four)
print(tips_df)

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  cc last 4 digits
0    Christy Cunningham  3560325168603410    Sun2959              3410
1        Douglas Tucker  4478071379779230    Sun4608              9230
2        Travis Walters  6011812112971322    Sun4458              1322
3      Nathaniel Harris  4676137647685994    Sun5260              5994
4          Tonya Carter  4832732618637221    Sun2251              7221
..                  ...               ...        ...               ...
239       Michael Avila  5296068606052842    Sat2657              2842
240      Monica Sanders  3506806155565404    Sat1766              5404
241          Keith Wong  6011891618747196    Sat3880              7196
242        Dennis Dixon     4375220550950      Sat17               950
243     Michelle Hardin  3511451626698139    Thur672              8139

[244 rows x 12 columns]

In [22]:
def is_genouras(total_bill,tip):
    if tip * 100 / total_bill > 15:
        return "Genouras"
    else:
        return "Not genouras"
    
tips_df['is_genouras'] = np.vectorize(is_genouras)(tips_df['total_bill'],tips_df['tip'])
print(tips_df)

     total_bill   tip     sex smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  cc last 4 digits  \
0    Christy Cunningham  3560325168603410    Sun2959              3410
1        Douglas Tucker  4478071379779230    Sun4608              9230
2        Travis Walters  6011812112971322    Sun4458              1322
3      Nathaniel Harris  4676137647685994    Sun5260              5994
4          Tonya Carter  4832732618637221    Sun2251              7221
..                  ...               ...        ...               ...
239       Michael Avila  5296068606052842    Sat2657              2842
240      Monica Sanders  3506806155565404    Sat1766              5404
241          Keith Wong  6011891618747196    Sat3880              7196
242        Dennis Dixon     4375220550950      Sat17               950
243     Michelle Hardin  3511451626698139    Thur672              8139

      is_genouras
0    Not genouras
1        Genouras
2        Genouras
3    Not genouras
4    Not genouras
..            ...
239      Genouras
240  Not genouras
241  Not genouras
242  Not genouras
243      Genouras

[244 rows x 13 columns]

In [23]:
print(tips_df.sort_values(by=['tip','total_bill'],ascending=[True,False]))

     total_bill    tip     sex smoker   day    time  size  price_per_person  \
236       12.60   1.00    Male    Yes   Sat  Dinner     2              6.30
111        7.25   1.00  Female     No   Sat  Dinner     1              7.25
92         5.75   1.00  Female    Yes   Fri  Dinner     2              2.88
67         3.07   1.00  Female    Yes   Sat  Dinner     1              3.07
0         16.99   1.01  Female     No   Sun  Dinner     2              8.49
..          ...    ...     ...    ...   ...     ...   ...               ...
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94

             Payer Name         CC Number Payment ID  cc last 4 digits  \
236       Matthew Myers  3543676378973965    Sat5032              3965
111         Terri Jones  3559221007826887    Sat4801              6887
92         Leah Ramirez  3508911676966392    Fri3780              6392
67        Tiffany Brock  4359488526995267    Sat3455              5267
0    Christy Cunningham  3560325168603410    Sun2959              3410
..                  ...               ...        ...               ...
141      Steven Carlson  3526515703718508   Thur1025              8508
59          Brian Ortiz  6596453823950595    Sat8139               595
23       Lance Peterson  3542584061609808     Sat239              9808
212     Alex Williamson      676218815212    Sat4590              5212
170       Gregory Clark  5473850968388236    Sat1954              8236

      is_genouras
236  Not genouras
111  Not genouras
92       Genouras
67       Genouras
0    Not genouras
..            ...
141      Genouras
59   Not genouras
23       Genouras
212      Genouras
170      Genouras

[244 rows x 13 columns]

In [24]:
print(tips_df[['is_genouras','sex','smoker']].value_counts())

is_genouras   sex     smoker
Genouras      Male    No        57
Not genouras  Male    No        40
                      Yes       34
              Female  No        28
Genouras      Female  No        26
                      Yes       26
              Male    Yes       26
Not genouras  Female  Yes        7
Name: count, dtype: int64

In [25]:
print(tips_df['smoker'].unique())
print(tips_df['smoker'].nunique())

['No' 'Yes']
2

In [26]:
tips_df_copy = tips_df.copy()
tips_df_copy['sex'] = tips_df_copy['sex'].replace(['Female','Male'],['F','M'])
print(tips_df_copy)

     total_bill   tip sex smoker   day    time  size  price_per_person  \
0         16.99  1.01   F     No   Sun  Dinner     2              8.49
1         10.34  1.66   M     No   Sun  Dinner     3              3.45
2         21.01  3.50   M     No   Sun  Dinner     3              7.00
3         23.68  3.31   M     No   Sun  Dinner     2             11.84
4         24.59  3.61   F     No   Sun  Dinner     4              6.15
..          ...   ...  ..    ...   ...     ...   ...               ...
239       29.03  5.92   M     No   Sat  Dinner     3              9.68
240       27.18  2.00   F    Yes   Sat  Dinner     2             13.59
241       22.67  2.00   M    Yes   Sat  Dinner     2             11.34
242       17.82  1.75   M     No   Sat  Dinner     2              8.91
243       18.78  3.00   F     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  cc last 4 digits  \
0    Christy Cunningham  3560325168603410    Sun2959              3410
1        Douglas Tucker  4478071379779230    Sun4608              9230
2        Travis Walters  6011812112971322    Sun4458              1322
3      Nathaniel Harris  4676137647685994    Sun5260              5994
4          Tonya Carter  4832732618637221    Sun2251              7221
..                  ...               ...        ...               ...
239       Michael Avila  5296068606052842    Sat2657              2842
240      Monica Sanders  3506806155565404    Sat1766              5404
241          Keith Wong  6011891618747196    Sat3880              7196
242        Dennis Dixon     4375220550950      Sat17               950
243     Michelle Hardin  3511451626698139    Thur672              8139

      is_genouras
0    Not genouras
1        Genouras
2        Genouras
3    Not genouras
4    Not genouras
..            ...
239      Genouras
240  Not genouras
241  Not genouras
242  Not genouras
243      Genouras

[244 rows x 13 columns]

In [27]:
tips_df_copy = tips_df.copy()
replace_dict = {'Female': 'F','Male': 'M'}
tips_df_copy['sex'] = tips_df_copy['sex'].map(replace_dict)
print(tips_df_copy)

     total_bill   tip sex smoker   day    time  size  price_per_person  \
0         16.99  1.01   F     No   Sun  Dinner     2              8.49
1         10.34  1.66   M     No   Sun  Dinner     3              3.45
2         21.01  3.50   M     No   Sun  Dinner     3              7.00
3         23.68  3.31   M     No   Sun  Dinner     2             11.84
4         24.59  3.61   F     No   Sun  Dinner     4              6.15
..          ...   ...  ..    ...   ...     ...   ...               ...
239       29.03  5.92   M     No   Sat  Dinner     3              9.68
240       27.18  2.00   F    Yes   Sat  Dinner     2             13.59
241       22.67  2.00   M    Yes   Sat  Dinner     2             11.34
242       17.82  1.75   M     No   Sat  Dinner     2              8.91
243       18.78  3.00   F     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  cc last 4 digits  \
0    Christy Cunningham  3560325168603410    Sun2959              3410
1        Douglas Tucker  4478071379779230    Sun4608              9230
2        Travis Walters  6011812112971322    Sun4458              1322
3      Nathaniel Harris  4676137647685994    Sun5260              5994
4          Tonya Carter  4832732618637221    Sun2251              7221
..                  ...               ...        ...               ...
239       Michael Avila  5296068606052842    Sat2657              2842
240      Monica Sanders  3506806155565404    Sat1766              5404
241          Keith Wong  6011891618747196    Sat3880              7196
242        Dennis Dixon     4375220550950      Sat17               950
243     Michelle Hardin  3511451626698139    Thur672              8139

      is_genouras
0    Not genouras
1        Genouras
2        Genouras
3    Not genouras
4    Not genouras
..            ...
239      Genouras
240  Not genouras
241  Not genouras
242  Not genouras
243      Genouras

[244 rows x 13 columns]

In [28]:
tips_df_copy.duplicated()
print(tips_df_copy)

     total_bill   tip sex smoker   day    time  size  price_per_person  \
0         16.99  1.01   F     No   Sun  Dinner     2              8.49
1         10.34  1.66   M     No   Sun  Dinner     3              3.45
2         21.01  3.50   M     No   Sun  Dinner     3              7.00
3         23.68  3.31   M     No   Sun  Dinner     2             11.84
4         24.59  3.61   F     No   Sun  Dinner     4              6.15
..          ...   ...  ..    ...   ...     ...   ...               ...
239       29.03  5.92   M     No   Sat  Dinner     3              9.68
240       27.18  2.00   F    Yes   Sat  Dinner     2             13.59
241       22.67  2.00   M    Yes   Sat  Dinner     2             11.34
242       17.82  1.75   M     No   Sat  Dinner     2              8.91
243       18.78  3.00   F     No  Thur  Dinner     2              9.39

             Payer Name         CC Number Payment ID  cc last 4 digits  \
0    Christy Cunningham  3560325168603410    Sun2959              3410
1        Douglas Tucker  4478071379779230    Sun4608              9230
2        Travis Walters  6011812112971322    Sun4458              1322
3      Nathaniel Harris  4676137647685994    Sun5260              5994
4          Tonya Carter  4832732618637221    Sun2251              7221
..                  ...               ...        ...               ...
239       Michael Avila  5296068606052842    Sat2657              2842
240      Monica Sanders  3506806155565404    Sat1766              5404
241          Keith Wong  6011891618747196    Sat3880              7196
242        Dennis Dixon     4375220550950      Sat17               950
243     Michelle Hardin  3511451626698139    Thur672              8139

      is_genouras
0    Not genouras
1        Genouras
2        Genouras
3    Not genouras
4    Not genouras
..            ...
239      Genouras
240  Not genouras
241  Not genouras
242  Not genouras
243      Genouras

[244 rows x 13 columns]

In [29]:
tips_df['tip'].nlargest(2)
tips_df.nlargest(5,'tip')
tips_df.nsmallest(5,'tip')
tips_df.sample(frac=0.1)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,cc last 4 digits,is_genouras
162,16.21,2.00,Female,No,Sun,Dinner,3,5.40,Jennifer Baird,4227834176859693,Sun5521,9693,Not genouras
136,10.33,2.00,Female,No,Thur,Lunch,2,5.16,Donna Kelly,180048553626376,Thur1393,6376,Genouras
152,17.26,2.74,Male,No,Sun,Dinner,3,5.75,Gregory Smith,4292362333741,Sun5205,3741,Genouras
220,12.16,2.20,Male,Yes,Fri,Lunch,2,6.08,Ricky Johnson,213109508670736,Fri4607,736,Genouras
132,11.17,1.50,Female,No,Thur,Lunch,2,5.58,Taylor Gonzalez,6011990685390011,Thur7783,11,Not genouras
144,16.43,2.30,Female,No,Thur,Lunch,2,8.22,Linda Jones,6542729219645658,Thur9002,5658,Not genouras
66,16.45,2.47,Female,No,Sat,Dinner,2,8.22,Rachel Vaughn,3569262692675583,Sat4750,5583,Genouras
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,Not genouras
73,25.28,5.00,Female,Yes,Sat,Dinner,2,12.64,Julie Holmes,5418689346409571,Sat6065,9571,Genouras
189,23.10,4.00,Male,Yes,Sun,Dinner,3,7.70,Richard Stevens,3560193117506187,Sun1821,6187,Genouras
41,17.46,2.54,Male,No,Sun,Dinner,2,8.73,David Boyer,3536678244278149,Sun9460,8149,Not genouras
13,18.43,3.00,Male,No,Sun,Dinner,4,4.61,Joshua Jones,6011163105616890,Sun2971,6890,Genouras
138,16.00,2.00,Male,Yes,Thur,Lunch,2,8.00,Jason Burgess,3561461821942363,Thur2710,2363,Not genouras
108,18.24,3.76,Male,No,Sat,Dinner,2,9.12,Steven Grant,4112810433473856,Sat6376,3856,Genouras
35,24.06,3.60,Male,No,Sat,Dinner,3,8.02,Joseph Mullins,5519770449260299,Sat632,299,Not genouras
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,Genouras
130,19.08,1.50,Male,No,Thur,Lunch,2,9.54,Seth Sexton,213113680829581,Thur1446,9581,Not genouras
120,11.69,2.31,Male,No,Thur,Lunch,2,5.84,Kenneth Goodman,4891259691010,Thur8289,1010,Genouras
159,16.49,2.00,Male,No,Sun,Dinner,4,4.12,Christopher Soto,30501814271434,Sun1781,1434,Not genouras
210,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,Shawn Mendoza,30184049218122,Sat8361,8122,Not genouras
65,20.08,3.15,Male,No,Sat,Dinner,3,6.69,Justin Dixon,180021262464926,Sat6840,4926,Genouras
179,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,346656312114848,Sun9851,4848,Not genouras
226,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5268689490381635,Fri6359,1635,Genouras
203,16.40,2.50,Female,Yes,Thur,Lunch,2,8.20,Toni Brooks,3582289985920239,Thur7770,239,Genouras