In [1]:
import numpy as np
import pandas as pd

# Reasons for missing data
- The program/site was not designed well and did not predict accurately the way the user used the program/site
- A bug prevents data from being saved
- GDPR - A user asks to delete his personal details and data

# Problem that missing data causes
+ If the data is unreliable the machine learning model will make mistakes with its answers/predictions
+ The tools can run in to errors

# Ways to handle missing data
## Leave the data as is
### Pros
- Easy 
- The machine will be trained on the most reliable data
### Cons 
- This limits us to use only NaN supporting method 
- Data issues, For example NaN will be iterperted as 0 and change statistics, You will have to anaylize to depth the way the algorythm works and so you know how it handles missing data

## Delete data
### Pros 
- Easy
- It is possioble to delete according with rules, I can choose to delete onl rows/columns the a ceratin amount/percentage of Nulls thus keeping the minumum amount of null values amd maximum amount of data, and still having a reasonable amount of error (std?)
### Cons
- Losing data - If i delete an entire column it becomes significant, I force the machine to work on specific data and will have to adjust it the future

## Fill the data
### Pros
- We save alot of rows/columns
- Since everthing is without null I have more tools and methods I can use and not just Non NaN methods
### Cons
- Very hard to perform and time cosuming, makes us guess and use random values, avg is a good choice
* (if all/most the data is missing we don't use this method)
- If we provide wrong data the algorythm accuracy is damaged and it becomes pointless, for this we use testing

In [2]:
movie_scores_df = pd.read_csv('csv/movie_scores.csv')
print(movie_scores_df)

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [3]:
print(movie_scores_df['first_name'].isnull())
print(movie_scores_df.isnull())
print(movie_scores_df.notnull())
print(movie_scores_df[movie_scores_df['first_name'].notnull() & movie_scores_df['pre_movie_score'].notnull()])

0    False
1     True
2    False
3    False
4    False
Name: first_name, dtype: bool
   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0       False      False  False  False            False             False
1        True       True   True   True             True              True
2       False      False  False  False             True              True
3       False      False  False  False            False             False
4       False      False  False  False            False             False
   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0        True       True   True   True             True              True
1       False      False  False  False            False             False
2        True       True   True   True            False             False
3        True       True   True   True             True              True
4        True       True   True   True             True              True
  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [4]:
movie_scores_df_copy = movie_scores_df.copy()
# movie_scores_df_copy.dropna(thresh = 5,inplace=True)
# movie_scores_df_copy.dropna(thresh = movie_scores_df.size*20/100, axis = 1,inplace = True)
print(movie_scores_df_copy)
print(movie_scores_df.size)
print(movie_scores_df_copy.dropna(subset = ['first_name','pre_movie_score'] ,thresh = 1))
print(movie_scores_df_copy[movie_scores_df['pre_movie_score'].notnull()])
print(movie_scores_df_copy.drop('first_name',axis=1))
print(movie_scores_df_copy[movie_scores_df_copy.columns.difference(['last_name'])])

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0
30
  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
2       Hugh   Jackman  51.0   m              NaN               NaN
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0
  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0
  last_name   age  sex  pre_movie_score  post_movie_score
0     Hanks  63.0    m              8.0              10.0
1       NaN   NaN  NaN              NaN               NaN
2   Jackman  51.0    m              NaN               NaN
3   Winfrey  66.0    f              6.0               8.0
4     Stone  31.0    f              7.0               9.0
    age first_name  post_movie_score  pre_movie_score  sex
0  63.0        Tom              10.0              8.0    m
1   NaN        NaN               NaN              NaN  NaN
2  51.0       Hugh               NaN              NaN    m
3  66.0      Oprah               8.0              6.0    f
4  31.0       Emma               9.0              7.0    f

In [5]:
movie_scores_df_copy = movie_scores_df.copy()
movie_scores_df_copy['pre_movie_score'] = movie_scores_df_copy['pre_movie_score'].fillna(movie_scores_df_copy['pre_movie_score'].mean())
print(movie_scores_df)
print(movie_scores_df_copy)
print(movie_scores_df_copy)
movie_scores_df_copy['post_movie_score'] = movie_scores_df_copy['post_movie_score'].fillna(movie_scores_df_copy['post_movie_score'].mean())
print(movie_scores_df_copy)

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0
  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              7.0               NaN
2       Hugh   Jackman  51.0    m              7.0               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0
  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              7.0               NaN
2       Hugh   Jackman  51.0    m              7.0               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0
  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              7.0               9.0
2       Hugh   Jackman  51.0    m              7.0               9.0
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0