In [67]:
import numpy as np
import pandas as pd

# Excercise 1

In [68]:
df = pd.DataFrame({
'CustomerID': np.arange(1, 11),
'FirstName': ['John', 'Steve', 'Anna', 'Mike', 'Emily', 'Jake', 'Laura', 'Nick',
'Olivia', 'David'],
'LastName': ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller',
'Wilson', 'Moore', 'Taylor'],
'Age': np.random.randint(25, 65, size=10),
'TotalPurchaseAmount': np.random.randint(100, 1000, size=10)
})
print(df)
copy_df = df.copy()

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount
0           1      John     Smith   60                  920
1           2     Steve   Johnson   60                  773
2           3      Anna  Williams   51                  755
3           4      Mike     Jones   44                  245
4           5     Emily     Brown   29                  444
5           6      Jake     Davis   64                  763
6           7     Laura    Miller   48                  334
7           8      Nick    Wilson   35                  671
8           9    Olivia     Moore   40                  604
9          10     David    Taylor   53                  108

In [69]:
def classification(total_purchase_amount):
    if total_purchase_amount < 500:
        return "Low"
    else:
        return "High"
    
copy_df['classification'] = df['TotalPurchaseAmount'].apply(classification)
print(copy_df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification
0           1      John     Smith   60                  920           High
1           2     Steve   Johnson   60                  773           High
2           3      Anna  Williams   51                  755           High
3           4      Mike     Jones   44                  245            Low
4           5     Emily     Brown   29                  444            Low
5           6      Jake     Davis   64                  763           High
6           7     Laura    Miller   48                  334            Low
7           8      Nick    Wilson   35                  671           High
8           9    Olivia     Moore   40                  604           High
9          10     David    Taylor   53                  108            Low

In [70]:
def classifaction_by_age(classification, age):
    result = classification
    if age <= 20:
        result += "_Young"
    else:
        result += "_Old"
    return result

copy_df['classification_by_age'] = np.vectorize(classifaction_by_age)(copy_df['classification'],df['Age'])
print(df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount
0           1      John     Smith   60                  920
1           2     Steve   Johnson   60                  773
2           3      Anna  Williams   51                  755
3           4      Mike     Jones   44                  245
4           5     Emily     Brown   29                  444
5           6      Jake     Davis   64                  763
6           7     Laura    Miller   48                  334
7           8      Nick    Wilson   35                  671
8           9    Olivia     Moore   40                  604
9          10     David    Taylor   53                  108

# Exercise 2

In [71]:
copy_df.sort_values(by=['LastName','FirstName'],ascending=[True,True],inplace=True)
print(copy_df)
copy_df.sort_values(by=['TotalPurchaseAmount','Age'],ascending=[True,False],inplace=True)
print(copy_df)

   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification  \
4           5     Emily     Brown   29                  444            Low
5           6      Jake     Davis   64                  763           High
1           2     Steve   Johnson   60                  773           High
3           4      Mike     Jones   44                  245            Low
6           7     Laura    Miller   48                  334            Low
8           9    Olivia     Moore   40                  604           High
0           1      John     Smith   60                  920           High
9          10     David    Taylor   53                  108            Low
2           3      Anna  Williams   51                  755           High
7           8      Nick    Wilson   35                  671           High

  classification_by_age
4               Low_Old
5              High_Old
1              High_Old
3               Low_Old
6               Low_Old
8              High_Old
0              High_Old
9               Low_Old
2              High_Old
7              High_Old
   CustomerID FirstName  LastName  Age  TotalPurchaseAmount classification  \
9          10     David    Taylor   53                  108            Low
3           4      Mike     Jones   44                  245            Low
6           7     Laura    Miller   48                  334            Low
4           5     Emily     Brown   29                  444            Low
8           9    Olivia     Moore   40                  604           High
7           8      Nick    Wilson   35                  671           High
2           3      Anna  Williams   51                  755           High
5           6      Jake     Davis   64                  763           High
1           2     Steve   Johnson   60                  773           High
0           1      John     Smith   60                  920           High

  classification_by_age
9               Low_Old
3               Low_Old
6               Low_Old
4               Low_Old
8              High_Old
7              High_Old
2              High_Old
5              High_Old
1              High_Old
0              High_Old

# Exercise 3

In [72]:
np.random.seed(100) 
df = pd.DataFrame(np.random.randint(0,100,size=(20, 10)), columns=list('ABCDEFGHIJ'))

n_rows, n_cols = df.shape 
row_idx = np.random.randint(0, n_rows)
col_idxs = np.random.choice(n_cols, size=n_cols//2, replace=False)
df.iloc[row_idx, col_idxs] = np.nan
n_nan_remaining = 15 - len(col_idxs)
row_idxs = np.random.randint(0, n_rows, size=n_nan_remaining)
col_idxs = np.random.randint(0, n_cols, size=n_nan_remaining)
df.iloc[row_idxs, col_idxs] = np.nan
copy_df = df.copy()
print(copy_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98   NaN   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48   NaN   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74   NaN   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76   NaN   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68   NaN   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54   NaN   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16   NaN   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84   NaN   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93   NaN   NaN   NaN   NaN   NaN   NaN  37.0

In [73]:
copy_df = df.copy()
copy_df.dropna(inplace=True)
print(copy_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0

In [74]:
copy_df = df.copy()
copy_df[copy_df.isnull()] = np.random.randint(0,100)
print(copy_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1   80.0  66  98  80.0  80.0  80.0  80.0  80.0  80.0  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5   80.0  30  48  80.0  80.0  80.0  80.0  80.0  80.0  56.0
6   80.0  53  74  80.0  80.0  80.0  80.0  80.0  80.0  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10  80.0  95  76  80.0  80.0  80.0  80.0  80.0  80.0  98.0
11  80.0  53  68  80.0  80.0  80.0  80.0  80.0  80.0  48.0
12  80.0  25  54  80.0  80.0  80.0  80.0  80.0  80.0  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16  80.0  66  16  80.0  80.0  80.0  80.0  80.0  80.0  78.0
17  80.0  77  84  80.0  80.0  80.0  80.0  80.0  80.0  93.0
18  80.0  28  82  80.0  80.0  80.0  80.0  80.0  80.0  80.0
19  80.0  90  93  80.0  80.0  80.0  80.0  80.0  80.0  37.0

In [75]:
copy_df = df.copy()
copy_df['C'] = copy_df['C'].fillna(round(copy_df['C'].mean(),2))
copy_df['D'] = copy_df['D'].fillna(round(copy_df['D'].mean(),2))
print(copy_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1    NaN  66  98  53.2   NaN   NaN   NaN   NaN   NaN  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5    NaN  30  48  53.2   NaN   NaN   NaN   NaN   NaN  56.0
6    NaN  53  74  53.2   NaN   NaN   NaN   NaN   NaN  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10   NaN  95  76  53.2   NaN   NaN   NaN   NaN   NaN  98.0
11   NaN  53  68  53.2   NaN   NaN   NaN   NaN   NaN  48.0
12   NaN  25  54  53.2   NaN   NaN   NaN   NaN   NaN  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16   NaN  66  16  53.2   NaN   NaN   NaN   NaN   NaN  78.0
17   NaN  77  84  53.2   NaN   NaN   NaN   NaN   NaN  93.0
18   NaN  28  82  53.2   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN  90  93  53.2   NaN   NaN   NaN   NaN   NaN  37.0

In [76]:
copy_df = df.copy()
dropped_df = copy_df.dropna(subset = copy_df.columns.difference(['D']),thresh=copy_df.shape[1] - 2)
# dropped_df.insert(3,'D',copy_df['D'])
print(dropped_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0

In [77]:
copy_df = df.copy()
nan_pos = np.where(copy_df.isna())
rows,cols = nan_pos
for i,j in zip(rows,cols):
    copy_df.iloc[i,j] = np.random.randint(0,100)
print(copy_df)

       A   B   C     D     E     F     G     H     I     J
0    8.0  24  67  87.0  79.0  48.0  10.0  94.0  52.0  98.0
1   99.0  66  98   2.0  62.0  99.0  81.0  16.0  70.0  16.0
2    9.0  93  86   2.0  27.0   4.0  31.0   1.0  13.0  83.0
3    4.0  91  59  67.0   7.0  49.0  47.0  65.0  61.0  14.0
4   55.0  71  80   2.0  94.0  19.0  98.0  63.0  53.0  27.0
5   53.0  30  48  98.0  96.0  47.0  48.0   9.0  49.0  56.0
6   53.0  53  74  34.0   3.0  11.0  49.0  29.0  36.0  68.0
7   50.0  91  91  83.0  53.0  78.0   0.0  13.0  57.0  76.0
8    3.0  70   3  84.0  79.0  10.0  87.0  60.0   3.0  48.0
9   52.0  43  36   5.0  71.0  38.0  86.0  94.0  98.0  42.0
10  93.0  95  76  67.0  26.0  52.0  36.0  73.0  31.0  98.0
11  85.0  53  68  92.0  68.0  83.0  71.0  61.0  93.0  48.0
12  36.0  25  54  42.0  13.0  48.0  82.0  32.0  38.0  30.0
13  66.0  24  55  17.0  45.0  89.0  45.0  35.0  16.0  12.0
14  86.0  82  67  92.0  95.0  20.0  10.0   8.0  89.0  72.0
15  30.0  12  18  93.0  92.0  44.0  57.0   0.0  73.0  54.0
16  40.0  66  16  53.0  93.0  14.0  38.0  86.0  37.0  78.0
17   0.0  77  84  59.0  41.0  44.0  19.0  76.0  66.0  93.0
18  13.0  28  82  87.0  65.0  68.0  54.0   0.0  87.0  83.0
19  10.0  90  93  65.0   2.0  87.0  76.0  39.0  36.0  37.0