In [1]:
import numpy as np
import pandas as pd

# Create two panda series
* Each series is a store with items and prices

In [2]:
computer_store = {"asus": 1500, "mac": 2000, "printer": 300, "mouse": 50, "keyboard": 30, "toshiba": 1750, "screen": 500, "big screen": 800, "hp": 1900}
computer_store_series = pd.Series(computer_store)
print(f" Computer store: \n{computer_store_series}\n")
grocery_store = {"banana": 5, "pasta": 8, "soup": 4, "homus": 10, "cola": 8, "pasta sauce": 15, "toothpaste": 11, "ashtray": 20, "apple": 3, "bread": 12}
grocery_store_series = pd.Series(grocery_store)
print(f" Grocery store : \n{grocery_store_series}\n")

 Computer store:
asus          1500
mac           2000
printer        300
mouse           50
keyboard        30
toshiba       1750
screen         500
big screen     800
hp            1900
dtype: int64

 Grocery store :
banana          5
pasta           8
soup            4
homus          10
cola            8
pasta sauce    15
toothpaste     11
ashtray        20
apple           3
bread          12
dtype: int64

# Create 5 store with 8 items each

In [3]:
# Jerusalem
jerusalem_store = {
    "bread": 5.99,
    "milk": 3.49,
    "eggs": 7.25,
    "tomatoes": 2.99,
    "chicken": 12.99,
    "rice": 4.50,
    "olive oil": 8.75,
    "cheese": 6.99,
}

# Tel Aviv
tel_aviv_store = {
    "apples": 3.99,
    "bananas": 2.25,
    "orange juice": 6.50,
    "lettuce": 4.99,
    "salmon": 18.99,
    "pasta": 2.75,
    "butter": 5.50,
    "yogurt": 3.75,
}

# Haifa
haifa_store = {
    "cucumbers": 1.99,
    "carrots": 1.25,
    "onions": 3.50,
    "beef": 14.95,
    "potatoes": 2.99,
    "mushrooms": 5.50,
    "bread rolls": 4.25,
    "mangoes": 4.99,
}

# Beersheba
beersheba_store = {
    "grapes": 8.99,
    "watermelon": 7.95,
    "chocolate": 5.50,
    "shrimp": 22.99,
    "lettuce": 3.99,
    "mayonnaise": 3.75,
    "breadsticks": 2.25,
    "kiwi": 2.99,
}

# Eilat
eilat_store = {
    "pineapple": 9.99,
    "avocado": 6.95,
    "soda": 1.50,
    "cherry tomatoes": 4.99,
    "salami": 11.99,
    "orange": 1.75,
    "cookies": 3.25,
    "grapefruit": 3.99,
}

# Netanya
netanya_store = {
    "bell peppers": 5.99,
    "strawberries": 12.95,
    "ice cream": 8.50,
    "chicken breasts": 9.99,
    "cottage cheese": 7.99,
    "honey": 10.50,
    "bagels": 4.25,
    "blueberries": 6.99,
}

# Ashdod
ashdod_store = {
    "pita bread": 2.99,
    "lettuce": 3.49,
    "kiwi": 1.50,
    "sausages": 7.99,
    "eggs": 5.99,
    "quinoa": 6.75,
    "broccoli": 4.25,
    "hummus": 3.99,
}
jerusalem_store_series = pd.Series(jerusalem_store)
tel_aviv_store_series = pd.Series(tel_aviv_store)
haifa_store_series = pd.Series(haifa_store)
beersheba_store_series = pd.Series(beersheba_store)
eilat_store_series = pd.Series(eilat_store)
netanya_store_series = pd.Series(netanya_store)
ashdod_store_series = pd.Series(ashdod_store)

print(f" Jerusalem_store: \n{jerusalem_store_series}\n")
print(f" Tel_aviv store: \n{tel_aviv_store_series}\n")
print(f" Haifa store: \n{haifa_store_series}\n")
print(f" Beer-sheba_store: \n{beersheba_store_series}\n")
print(f" Eilat store: \n{eilat_store_series}\n")
print(f" Netanya store: \n{netanya_store_series}\n")
print(f" Ashdod store: \n{ashdod_store_series}\n")

 Jerusalem_store:
bread         5.99
milk          3.49
eggs          7.25
tomatoes      2.99
chicken      12.99
rice          4.50
olive oil     8.75
cheese        6.99
dtype: float64

 Tel_aviv store:
apples           3.99
bananas          2.25
orange juice     6.50
lettuce          4.99
salmon          18.99
pasta            2.75
butter           5.50
yogurt           3.75
dtype: float64

 Haifa store:
cucumbers       1.99
carrots         1.25
onions          3.50
beef           14.95
potatoes        2.99
mushrooms       5.50
bread rolls     4.25
mangoes         4.99
dtype: float64

 Beer-sheba_store:
grapes          8.99
watermelon      7.95
chocolate       5.50
shrimp         22.99
lettuce         3.99
mayonnaise      3.75
breadsticks     2.25
kiwi            2.99
dtype: float64

 Eilat store:
pineapple           9.99
avocado             6.95
soda                1.50
cherry tomatoes     4.99
salami             11.99
orange              1.75
cookies             3.25
grapefruit          3.99
dtype: float64

 Netanya store:
bell peppers        5.99
strawberries       12.95
ice cream           8.50
chicken breasts     9.99
cottage cheese      7.99
honey              10.50
bagels              4.25
blueberries         6.99
dtype: float64

 Ashdod store:
pita bread    2.99
lettuce       3.49
kiwi          1.50
sausages      7.99
eggs          5.99
quinoa        6.75
broccoli      4.25
hummus        3.99
dtype: float64

In [5]:
stores = {"jerusalem":jerusalem_store_series,"tel_aviv": tel_aviv_store_series,"haifa":haifa_store_series,"beersheba": beersheba_store_series,"eilat":eilat_store_series,"netanya":netanya_store_series,"ashdod":ashdod_store_series}

order = ["ice cream","kiwi","slami","toothpaste","soda","onions","apple","bread"]
store_series = pd.Series(stores)
order_arr = pd.array(order)
print(store_series)
print(order_arr)

jerusalem    bread         5.99
milk          3.49
eggs    ...
tel_aviv     apples           3.99
bananas          2.25
or...
haifa        cucumbers       1.99
carrots         1.25
onio...
beersheba    grapes          8.99
watermelon      7.95
choc...
eilat        pineapple           9.99
avocado             6...
netanya      bell peppers        5.99
strawberries       12...
ashdod       pita bread    2.99
lettuce       3.49
kiwi    ...
dtype: object
<StringArray>
['ice cream', 'kiwi', 'slami', 'toothpaste', 'soda', 'onions', 'apple',
 'bread']
Length: 8, dtype: string

In [19]:
def order_summary(order,store_series):
    order_sum = 0
    
    order_summary = {'total_pay': 0,
                    'available_stores':{}}
    available_stores = []
    store_count = 0
    stores = store_series.keys()
    print(stores)
    for item in order:
        found = False
        bought = False
        for store in store_series:
            if item in store:
                if not bought:
                    order_sum += store[item]
                    bought = True
                available_stores.append(stores[store_count])
                found = True
            store_count += 1
        if not found:
            available_stores.append("NaN")
            order_summary['available_stores'][item] = available_stores
        store_count = 0
        bought = False
    order_summary['total_pay'] = order_sum

    return order_summary

order_result = order_summary(order_arr,store_series)
print(f"The order price is: {order_result['total_pay'].round(2)}\n The places that the items were located are: \n{order_result['available_stores']}")

Index(['jerusalem', 'tel_aviv', 'haifa', 'beersheba', 'eilat', 'netanya',
       'ashdod'],
      dtype='object')
The order price is: 22.48
 The places that the items were located are:
{'slami': ['netanya', 'beersheba', 'ashdod', 'NaN', 'NaN', 'eilat', 'haifa', 'NaN', 'jerusalem'], 'toothpaste': ['netanya', 'beersheba', 'ashdod', 'NaN', 'NaN', 'eilat', 'haifa', 'NaN', 'jerusalem'], 'apple': ['netanya', 'beersheba', 'ashdod', 'NaN', 'NaN', 'eilat', 'haifa', 'NaN', 'jerusalem']}

In [23]:
tel_aviv = pd.Series({'apple': 10, 'banana': 12, 'orange': 8, 'kiwi': 20, 'watermelon': 13 })
haifa = pd.Series({'apple': 10, 'carrot': 11, 'orange': 8, 'eggplant': 25, 'watermelon': 13 })
ramat_gan = pd.Series({'lettuce': 4, 'ginger': 33, 'orange': 8, 'kiwi': 20, 'garlic': 3 })
stores = {'Tel Aviv': tel_aviv, 'Haifa': haifa, 'Ramat Gan': ramat_gan}

def order_purchase(product_list):
    total_pay = 0
    available_stores = {}
    
    for product in product_list:
        pay_added = False
        product_available_stores = []

        for store_name, store_data in stores.items():
            if product in store_data.keys():
                product_available_stores.append(store_name)
                if not pay_added:
                    total_pay += store_data[product]
                    pay_added = True

        if (len(product_available_stores) > 0):
            available_stores[product] = product_available_stores
        else:
            available_stores[product] = None

    return {'total_pay': total_pay, 'available_stores': available_stores}

print(order_purchase(['apple','carrot','orange','ice cream']))

{'total_pay': 29, 'available_stores': {'apple': ['Tel Aviv', 'Haifa'], 'carrot': ['Haifa'], 'orange': ['Tel Aviv', 'Haifa', 'Ramat Gan'], 'ice cream': None}}

In [81]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index=['Person1', 'Person2', 'Person3', 'Person4'])

print(df1.loc[df1['Age'].idxmax()])
print(df1[df1["Age"] > 25])

Name      David
Age          35
City    Chicago
Name: 3, dtype: object
    Name  Age           City
1    Bob   30  San Francisco
3  David   35        Chicago