In [11]:
import numpy as np
import pandas as pd

In [12]:
products_df = pd.DataFrame({ 'Product_ID': [1, 2, 3], 'Product_Name': ['iPhone 12', 'Samsung S21', 'Pixel 5'], 'Product_Price': [999, 899, 699], })

sales_df = pd.DataFrame({ 'Sale_ID': [1, 2, 3, 4, 5, 6, 7], 'Sale_Date': pd.to_datetime(['2021-01-01', '2021-02-01', '2021-02-15', '2020-03-01', '2020-04-01', '2020-02-15', '2020-01-01']), 'Customer_ID': [1, 2, 3, 2, 3, 4, 4], 'Product_ID': [1, 1, 2, 2, 3, 3, 1], })

customers_df = pd.DataFrame({ 'Customer_ID': [1, 2, 3, 4], 'Customer_Name': ['John Doe', 'Jane Doe', 'Jim Brown', 'Jake Smith'], 'Customer_Age': [25, 30, 35, 20], 'Customer_Email': ['john@doe.com', 'jane@doe.com', 'jim@brown.com', 'jake@smith.com'], })
print(products_df)
print(sales_df)
print(customers_df)

   Product_ID Product_Name  Product_Price
0           1    iPhone 12            999
1           2  Samsung S21            899
2           3      Pixel 5            699
   Sale_ID  Sale_Date  Customer_ID  Product_ID
0        1 2021-01-01            1           1
1        2 2021-02-01            2           1
2        3 2021-02-15            3           2
3        4 2020-03-01            2           2
4        5 2020-04-01            3           3
5        6 2020-02-15            4           3
6        7 2020-01-01            4           1
   Customer_ID Customer_Name  Customer_Age  Customer_Email
0            1      John Doe            25    john@doe.com
1            2      Jane Doe            30    jane@doe.com
2            3     Jim Brown            35   jim@brown.com
3            4    Jake Smith            20  jake@smith.com

# Exercise 2

In [13]:
sales_products_df = pd.merge(sales_df,products_df, on='Product_ID',how='inner')
print(sales_products_df[['Sale_ID','Product_Name','Product_Price']])

   Sale_ID Product_Name  Product_Price
0        1    iPhone 12            999
1        2    iPhone 12            999
2        3  Samsung S21            899
3        4  Samsung S21            899
4        5      Pixel 5            699
5        6      Pixel 5            699
6        7    iPhone 12            999

# Exercise 3

In [14]:
apple_products_df = pd.DataFrame({
'Product_ID': [4, 5],
'Product_Name': ['iPhone 13', 'Apple Watch Series 6'],
'Product_Price': [999, 399],
})
samsung_products_df = pd.DataFrame({
'Product_ID': [6, 7],
'Product_Name': ['Samsung S22', 'Galaxy Watch 4'],
'Product_Price': [999, 250],
})
products_df_copy = products_df.copy()
combined_products_df = pd.concat([products_df_copy,apple_products_df,samsung_products_df]).reset_index()
combined_products_df

   index  Product_ID          Product_Name  Product_Price
0      0           1             iPhone 12            999
1      1           2           Samsung S21            899
2      2           3               Pixel 5            699
3      0           4             iPhone 13            999
4      1           5  Apple Watch Series 6            399
5      0           6           Samsung S22            999
6      1           7        Galaxy Watch 4            250

# Exercise 4

In [15]:
total_price_by_product = sales_products_df.groupby('Product_Name').agg({'Product_Price':'sum'})
total_price_by_product.rename(columns={'Product_Price':'Total Sales'})

              Total Sales
Product_Name
Pixel 5              1398
Samsung S21          1798
iPhone 12            2997

# Exercise 5

In [16]:
reindexed_customers_df = customers_df.set_index(['Customer_ID','Customer_Email'])
customers_with_id_under_3 = customers_df[customers_df['Customer_ID'] < 3]
keys = customers_with_id_under_3['Customer_ID']
keys = keys.values
print(reindexed_customers_df.loc[keys])

                           Customer_Name  Customer_Age
Customer_ID Customer_Email
1           john@doe.com        John Doe            25
2           jane@doe.com        Jane Doe            30

# Exercise 6

# A

In [17]:
merged_df = pd.merge(customers_df,sales_df,on='Customer_ID',how='inner').merge(products_df,on='Product_ID',how='inner')
max_price = merged_df['Product_Price'].max()
high_paying_customers = merged_df[merged_df['Product_Price'] == max_price]
print(high_paying_customers['Customer_Name'])

0      John Doe
1      Jane Doe
6    Jake Smith
Name: Customer_Name, dtype: object

# B

In [18]:
sales_df_copy = sales_df.copy()
grouped_sales = sales_df_copy.groupby('Sale_Date').size()
grouped_sales_df = pd.DataFrame(grouped_sales)
grouped_sales_df.rename(columns={0:'Number_of_Sales'},inplace=True)
print(grouped_sales_df)

            Number_of_Sales
Sale_Date
2020-01-01                1
2020-02-15                1
2020-03-01                1
2020-04-01                1
2021-01-01                1
2021-02-01                1
2021-02-15                1

# C

In [19]:
avg_price = merged_df.groupby('Customer_Name').agg({'Product_Price':'mean'})
print(avg_price)

               Product_Price
Customer_Name
Jake Smith             849.0
Jane Doe               949.0
Jim Brown              799.0
John Doe               999.0